<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:image" content=""/>
  <meta property="og:title" content="2997ms"/>

  <title>2997ms</title>

  <link rel="stylesheet" href="static/css/bootstrap.min.css" />
  <link rel="stylesheet" href="static/css/bootstrap-theme.min.css" />
  <link rel="stylesheet" href="static/css/style.css" />
  <link rel="stylesheet" href="static/css/font-awesome.min.css" />
  <link rel="stylesheet" href="static/css/font-awesome-ie7.min.css" />
  <link rel="stylesheet" href="static/js/highslide/highslide.css" />
  <link href='https://fonts.googleapis.com/css?family=Quattrocento:700' rel='stylesheet' type='text/css'>
</head>
<body id="top">
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#top"><span class="wcl-07">王崇</span>・Wang Chong</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="page-scroll"><a href="#goal">Goal</a></li>
          <li class="page-scroll"><a href="#contests">Contests HomePage</a></li>
          <li class="page-scroll"><a href="#projects">Projects</a></li>
          <li class="page-scroll"><a href="#contributions">Contributions</a></li>
          <li class="page-scroll"><a href="#talks">Talks</a></li>
          <li class="page-scroll"><a href="#experience">Experience</a></li>
          <li class="page-scroll"><a href="#education">Education</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container profile">
    <div class="row">
      <div class="col-ng-f col-md-3 col-sm-3 col-xs-12">
        <div class="text-center img-profile">
          <img rel="image_src" src="static/img/chong_wang.jpg" class="img-responsive" alt="Profile image">
        </div>
      </div>
      <div class="col-ng-9 col-md-9 col-sm-9 col-xs-12">
        <div class="profile-info">
          <h1><span class="datw5">王崇</span>・Wang Chong</h1>
          <div>
          </div>
          <ul class="list-unstyled icons-ul misc-info">
            <li><i class="icon-li icon-envelope"></i><a href="mailto://wangchong756@gmail.com">wangchong756@gmail.com</a></li>
            <li><i class="icon-li icon-map-marker"></i>Wang Kui, HeiLongJiang</li>
            <li><i class="icon-li icon-pencil"></i><a href="https://2997ms.github.io">Blog</a></li>
          </ul>
          <div class="social-links">
            {% for v in data.profile.social_links %}
            <a href="{{ v.link }}" target="_blank"><i class="{{ v.icon }} icon-4x"></i></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="clearfix anchor-parent">
      <h2 class="pull-left">Goal</h2>
      <span id="goal" class="anchor"></span>
    </div>
    <div class="row">
      <div class="col-ng-12 col-md-12 col-sm-12 col-xs-12">
        <h4>Be an indie geeker and excellent self-media practitioner.<br />
        </h4>
      </div>
    </div>
  </div>

  <div class="chess">
    <div class="container section">
      <div class="clearfix anchor-parent">
        <h2 class="pull-left">Contests HomePage</h2>
        <span id="contests" class="anchor"></span>
      </div>
      {% for v in data.contests %}
      {% if (loop.index - 1) % 3 == 0 %}
      <div class="row">
      {% endif %}
        <div class="col-ng-4 col-md-4 col-sm-4 col-xs-12">
          <div class="text-center">
            <a href="{{ v.link }}" target="_blank">
              <img src="static/img/{{ v.logo }}" alt="{{ v.name }}" height="75px">
            </a>
          </div>
          <div class="inline edu-desc">
            <h4>{{ v.name }}<br /><small>{{ v.time }}</small></h4>
          {% if v.tags %}
          <p>
          {% for t in v.tags %}
            <span class="label label-{{ tagNameToClass(data, t) }}">{{ t }}</span>
          {% endfor %}
          </p>
          {% endif %}
         <!--  <ul class="list-unstyled icons-ul">
            <li><i class="icon-li icon-user"></i> {{ v.handle }}</li>
          </ul> -->
        </div>
        </div>
      {% if (loop.index - 1)% 3 == 2 or loop.index == len(data.contests) %}
      </div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="chess">
    <div class="container section">
      <div class="clearfix anchor-parent">
        <h2 class="pull-left">Projects</h2>
        <span id="projects" class="anchor"></span>
      </div>
      {% for v in data.projects %}
      {% if (loop.index - 1) % 3 == 0 %}
      <div class="row">
      {% endif %}
        <div class="col-ng-4 col-md-4 col-sm-4 col-xs-12">
          {% if v.anchor %}
          <span id="{{ v.anchor }}" class="anchor"></span>
          {% endif %}
          <div class="text-center">
            <a href="static/img/{{ v.logo }}" class="highslide" onclick="return hs.expand(this)">
              <img src="static/img/{{ v.logo }}" alt="{{ v.name|remove_tag }}" class="img-thumbnail img-responsive">
            </a>
          </div>

          <h4>{{ v.name }}<br /><small>{{ v.time }}</small></h4>
          {% if v.tags %}
          <p>
          {% for t in v.tags %}
            <span class="label label-{{ tagNameToClass(data, t) }}">{{ t }}</span>
          {% endfor %}
          </p>
          {% endif %}
          <ul class="list-unstyled icons-ul">
            {% if v.website %}
            <li>
              <i class="icon-li icon-globe"></i>
              <a href="{{ v.website }}" target="_blank">Website</a>
            </li>
            {% endif %}
            {% if v.github %}
            <li>
              <i class="icon-li icon-github"></i>
              <a href="{{ v.github }}" target="_blank">Source Code</a>
            </li>
            {% endif %}
            {% if v.bitbucket %}
            <li>
              <i class="icon-li icon-bitbucket"></i>
              <a href="{{ v.bitbucket }}" target="_blank">Source Code</a>
            </li>
            {% endif %}
            {% if v.role %}
            <li><i class="icon-li icon-user"></i> {{ v.role }}</li>
            {% endif %}
            {% if v.partners %}
            <li><i class="icon-li icon-group"></i> {{ v.partners }}</li>
            {% endif %}
            {% if v.slide %}
            <li><i class="icon-li icon-file"></i> <a href="{{ v.slide }}" target="_blank">Slide</a></li>
            {% endif %}
            {% if v.poster %}
            <li><i class="icon-li icon-file"></i> <a href="{{ v.poster }}" target="_blank">Demo Poster</a></li>
            {% endif %}
            {% if v.video %}
            <li>
              <i class="icon-li icon-youtube-play"></i>
              <a href="https://www.youtube.com/embed/{{v.video}}?rel=0&amp;wmode=transparent" 
                    onclick="return hs.htmlExpand(this, {objectType: 'iframe', width: 672, height: 504, 
                    allowSizeReduction: false, wrapperClassName: 'dark borderless-html no-footer', 
                    preserveContent: false, objectLoadTime: 'after'})" class="highslide">Video</a>
            </li>
            {% endif %}
            <li><i class="icon-li icon-bookmark"></i> {{ v.description }}</li>
          </ul>
        </div>
      {% if (loop.index - 1)% 3 == 2 or loop.index == len(data.projects) %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="chess">
    <div class="container section">
      <div class="clearfix anchor-parent">
        <h2 class="pull-left">Contributions</h2>
        <span id="contributions" class="anchor"></span>
      </div>
      <div class="row">
        <div class="col-ng-12 col-md-12 col-sm-12 col-xs-12">
          <h4></h4>
          <ul class="list-unstyled icons-ul">
          {% for v in data.contributions %}
            <li><i class="icon-li icon-globe"></i><a href="{{ v.link }}">{{ v.name }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="clearfix anchor-parent">
      <h2 class="pull-left">Talks</h2>
      <span id="talks" class="anchor"></span>
    </div>
    <div class="row">
      {% for talk in data.talks %}
      <div class="col-ng-4 col-md-4 col-sm-4 col-xs-12">
        <iframe src="https://www.slideshare.net/slideshow/embed_code/{{ talk.slideshare_id }}"
          frameborder="0" marginwidth="0" marginheight="0" scrolling="no"
          style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px"
          allowfullscreen class="img-responsive talk-block">
        </iframe>
      </div>
      {% endfor %}
    </div>
  </div>

<!--   <div class="chess">
    <div class="container section">
      <div class="clearfix anchor-parent">
        <h2 class="pull-left">Tools & Programming Languages</h2>
        <span id="tools" class="anchor"></span>
      </div>
      <h3>Coding Environment</h3>
        <ul class="list-unstyled icons-ul">
          <li><i class="icon-li icon-bookmark"></i>Linux</li>
        </ul>
      <h3>Tools & Programming Languages<br />
      </h3>
      <div class="row">
        {% set half = ceil(len(data.tools) / 2) %}
        {% for v in data.tools %}
        {% if (loop.index - 1) % half == 0 %}
        <div class="col-ng-6 col-md-6 col-sm-6 col-xs-12">
          <ul class="list-unstyled icons-ul">
        {% endif %}
          <li><i class="icon-li icon-bookmark"></i>{{ v.name }}: {{ v.score }}</li>
        {% if (loop.index - 1) % half == half - 1 or (loop.index - 1) == len(data.tools) - 1%}
          </ul>
        </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div> -->

    <div class="chess">
    <div class="container section">
      <div class="clearfix anchor-parent">
        <h2 class="pull-left">Experience</h2>
        <span id="experience" class="anchor"></span>
      </div>
      {% for v in data.experience %}
      {% if (loop.index - 1) % 3 == 0 %}
      <div class="row">
      {% endif %}
        <div class="col-ng-4 col-md-4 col-sm-4 col-xs-12">
          <div class="text-center">
            <a href="{{ v.link }}" target="_blank">
              <img src="static/img/{{ v.logo }}" alt="{{ v.name }}" height="75px">
            </a>
          </div>
          <h4>{{ v.name }}<br /><small>{{ v.time }}</small></h4>
          {% if v.tags %}
          <p>
          {% for t in v.tags %}
            <span class="label label-{{ tagNameToClass(data, t) }}">{{ t }}</span>
          {% endfor %}
          </p>
          {% endif %}
          <ul class="list-unstyled icons-ul">
            <li><i class="icon-li icon-user"></i> {{ v.title }}</li>
            <li><i class="icon-li icon-bookmark"></i> {{ v.description }}</li>
          </ul>
        </div>
      {% if (loop.index - 1)% 3 == 2 or loop.index == len(data.experience) %}
      </div>
      {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>

  <div class="container section">
    <div class="clearfix anchor-parent">
      <h2 class="pull-left">Education</h2>
      <span id="education" class="anchor"></span>
    </div>
    <div class="row">
      {% for v in data.education %}
      <div class="col-ng-6 col-md-6 col-sm-6 col-xs-12">
        <div class="edu-logo inline">
          <a href="{{ v.link }}" target="_blank">
            <img src="static/img/{{ v.logo }}" alt="{{ v.name }}" height="75px">
          </a>
        </div>
        <div class="inline edu-desc">
          <h4>{{ v.name }}<br /><small>{{ v.time }}</small></h4>
          {% if v.tags %}
          <p>
          {% for t in v.tags %}
            <span class="label label-{{ tagNameToClass(data, t) }}">{{ t }}</span>
          {% endfor %}
          </p>
          {% endif %}
          <ul class="list-unstyled icons-ul">
            <li><i class="icon-li icon-user"></i> {{ v.title }}</li>
            <li><i class="icon-li icon-bookmark"></i> {{ v.description }}</li>
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="static/js/jquery.js"></script>
  <script type="text/javascript" src="static/js/jquery.easing.min.js"></script>

  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/highslide/highslide-full.min.js"></script>
  <script type="text/javascript" src="static/js/highslide/highslide.config.js"></script>
  <script type="text/javascript" src="static/js/content.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43718843-1', 'azhuang.me');
  ga('send', 'pageview');
  </script>
</body>
</html>